/Library
/obj
/ProjectSettings
/Server
/Temp
/Assembly-CSharp.csproj
/LockStepArpg.sln
/.vs
/Assembly-CSharp-Editor.csproj
/LockStepArpg.csproj
/art/art.Plugins.csproj
/art/Library
/art/Packages
/art/ProjectSettings
/art/art.csproj
/art/art.Editor.csproj
/art/art.Editor.Plugins.csproj
/art/Assembly-CSharp-Editor.csproj
/art/Assembly-CSharp-firstpass.csproj
/art/art.userprefs
/art/Assembly-CSharp.csproj
/art/.vs
